@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)(implicit assetsFinder: AssetsFinder)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/style.css")">
            <!-- <link rel="stylesheet" href="/assets/stylesheets/style.css"> -->
        <title>@title</title>
    </head>
    <body>
        <ul>
                <!-- <li><a href="/">Home</a></li> -->
            <li><a href="@routes.HomeController.index">Home</a></li>
                <!-- <li><a href="/about">About Us</a></li> -->
            <li><a href="@routes.HomeController.about">About Us</a></li>
        </ul>
        <hr>

        @* Content goes here *@
        <!-- Content Area -->
        @content

    </body>
</html>
